<!DOCTYPE html>
<html>
    <head>
        <title>Movie Schedule - Profile</title>
    </head>
    <body>
        {% if user.first_name != '' %}
            <h1>Welcome, {{ user.first_name }}</h1>
        {% else %}
            <h1>Welcome, {{ user.username }}</h1>
        {% endif %}

        <h2>Subscribed theaters:</h2>
        {% for sub in subscriptions %}
            <p>{{ sub.theater.name }} <a href="">delete</a></p>
        {% endfor %}

        <h2>Account Settings:</h2>
        <a href="">unsubscribe all</a>
        <a href="">delete account</a>
    </body>
</html>