{% extends 'subscriptions/base.html' %}
{% block content %}
    <p>Made by Zack Lee</p>
    <p style="margin-bottom: 0">If you have questions or want to chat you can reach out at <a href="mailto:zacklee@localmovieschedule.com">zacklee@localmovieschedule.com</a></p>
    <p>If you have complaints or want to be mean you can reach out at <a href="mailto:zacklee@localmovieschedule.com">pleasedontyellatme@localmovieschedule.com</a></p>
    <br>
    <p style="margin-bottom: 0"><a href="https://github.com/zlee1/MovieSchedule_App">Site source code</a></p>
    <p><a href="https://github.com/zlee1/MovieSchedule">Backend source code</a></p>
{% endblock content %}