{% extends 'subscriptions/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.first_name != '' %}
        <h1>Welcome, {{ user.first_name }}</h1>
    {% else %}
        <h1>Welcome, {{ user.username }}</h1>
    {% endif %}


    <h2>Subscriptions</h2>
    <div class="container mt-4 mb-4">
        <ul class="list-group">
            {% for sub in subscriptions %}
                <li class="list-group-item"><a href="{{ sub.theater.url }}">{{ sub.theater.name }}</a><a href="" class="float-right">Unsubscribe</a></li>
            {% endfor %}
        </ul>
        <a class="btn btn-outline-info mt-2">Unsubscribe From All Theaters</a>
    </div>

    <h2>Search for Theaters</h2>
    <div class="container mt-4 mb-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group mb-0">
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
    </div>
{% endblock content %}