{% extends 'subscriptions/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.first_name != '' %}
        <h1>Welcome, {{ user.first_name }}</h1>
    {% else %}
        <h1>Welcome, {{ user.username }}</h1>
    {% endif %}

    <h2>Subscriptions:</h2>
    {% for sub in subscriptions %}
        <p><a class="btn btn-outline-info">X</a> {{ sub.theater.name }}</p>
    {% endfor %}

    <a class="btn btn-outline-info">Unsubscribe All</a>
    <div class="container mt-4 mb-4">
        <form method="POST">
            <legend>Search for Theaters</legend>
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
    </div>
    <a href="{% url 'subscriptions-home' %}">Home</a>
{% endblock content %}