{% extends 'subscriptions/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <p>Search result for theaters near {{ zip_code }}</p>
    {% if theaters %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="form-check mb-4">
                    {% for theater in theaters %}
                        <input class="form-check-input" type="checkbox" id="{{ theater.id }}" name="{{ theater.id }}" value="{{ theater.id }}">
                        <label class="form-check-label" for="{{ theater.id }}">
                            <a href="{{ theater.url }}" class="text-dark">{{ theater.name }}</a>
                        </label>
                        <br>
                    {% endfor %}
                </div>
            </fieldset>
            <button class="btn btn-outline-info" type="submit">Add Theaters</button>
        </form>
    {% else %}
        <p>No theaters found.</p>
    {% endif %}
    
    <a href="{% url 'subscriptions-manage' %}" class="btn btn-outline-info mt-4">Back</a>
{% endblock content %}